<div class="jumbotron jumcontact">
  <h1> Contact </h1>
  <p class="lead">
    DM Consulting is an Adelaide based technology company, <br/>providing high tech services at an affordable price.
  </p>
</div>
