<div class="jumbotron jumblue">
  <h1> Technology is our passion </h1>
  <p class="lead">
    DM Consulting is an Adelaide based technology company, <br/>providing high tech services at an affordable price.
  </p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Web Development</h2>
    <p> We have developers who have many years experience with PHP, Rails, Drupal and many other
    web frameworks.
    </p>
    <a href="/">Read more</a>
  </div>

  <div class="col-lg-4">
    <h2>Cloud Solutions</h2>
    <p>
      All DM Consulting cloud servers are designed to be secure, fast and reliable.  We can tailor
      to your buisness's needs and scale when required.
    </p>
    <a href="/">Read more</a>
  </div>

  <div class="col-lg-4">
    <h2>Support</h2>
    <p>
      Email server gone down at 2am on a Sunday morning?, DM Consulting can offer 24/7 support for all your IT needs.
    </p>
    <a href="/">Read more</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Software Development</h2>
    <a href="/">Read more</a>
  </div>

 <div class="col-lg-4">
    <h2>E-Commerce</h2>
    <a href="/">Read more</a>
  </div>

 <div class="col-lg-4">
    <h2>Servers</h2>
    <a href="/">Read more</a>
  </div>
</div>
