<div class="container" id="header-small">
  <div id="webgl-container">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation"> <a href="#webdev-tab" data-toggle="pill">Website Development</a></li>
        <li role="presentation"> <a href="#softdev-tab" data-toggle="pill">Software Development</a></li>
        <li role="presentation"> <a href="#ecom-tab" data-toggle="pill">E-Commerce</a></li>
        <li role="presentation"> <a href="#cloud-tab" data-toggle="pill">Cloud solutions</a></li>
        <li role="presentation"> <a href="#servers-tab" data-toggle="pill">Servers</a></li>
      </ul>
    </div>

    <div class="tab-content">
      <div class="tab-pane fade" id="webdev-tab">
        <h1> Website Development </h1>
        <p> Under construction </p>
      </div>

      <div class="tab-pane fade" id="softdev-tab">
        <h1> Software Development </h1>
        <p> Under construction </p>
      </div>

      <div class="tab-pane fade" id="ecom-tab">
        <h1> E-Commerce </h1>
        <p> Under construction </p>
      </div>

      <div class="tab-pane fade" id="cloud-tab">
        <h1> Cloud solutions </h1>
        <p> Under construction </p>
      </div>

      <div class="tab-pane fade" id="servers-tab">
        <h1> Servers </h1>
        <p> Under construction </p>
      </div>

    </div>
  </div>
</div>
