<div class="jumbotron jumservice">
  <h1> Services </h1>
  <p class="lead">
    DM Consulting is an Adelaide based technology company, <br/>providing high tech services at an affordable price.
  </p>
</div>

<ul class="nav nav-pills nav-stacked" role="tablist">
  <li role="presentation"> <a href="#">Web Development</a></li>
  <li role="presentation"> <a href="#">Web Development</a></li>
  <li role="presentation"> <a href="#">Web Development</a></li>
  <li role="presentation"> <a href="#">Web Development</a></li>
</ul>
