<div class="container" id="header-small">
  <div id="webgl-container">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"> <a href="#">Web Development</a></li>
        <li role="presentation"> <a href="#">Software Development</a></li>
        <li role="presentation"> <a href="#">E-Commerce</a></li>
        <li role="presentation"> <a href="#">Cloud solutions</a></li>
        <li role="presentation"> <a href="#">Servers</a></li>
      </ul>
    </div>
  </div>
</div>
