<div class="container">
  <h1> <%= @contact.subject %> </h1>
  <dl>
    <dt> Name </dt>
    <dd> <%= @contact.name %> </dd>

    <dt> Email </dt>
    <dd> <%= @contact.email %> </dd>

    <dt> Body </dt>
    <dd> <%= @contact.body %> </dd>
  </dl>
</div>
